<h1 class="mb-4">{{ pagetitle }}</h1>
<form class="table-responsive" *ngIf="showAdmin" [formGroup]="itemForm" (ngSubmit)="add(); itemForm.reset()">
  <table class="table table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col"><label for="employeeNumber">Номер</label></th>
        <th scope="col"><label for="fullName">Полное имя</label></th>
        <th scope="col"><label for="position">Должность</label></th>
        <th scope="col">Реставрации</th>
        <th scope="col" class="text-end">Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of itemList" id="{{ item.id }}">
        <td>{{ item.employeeNumber }}</td>
        <td>{{ item.fullName }}</td>
        <td>{{ item.position }}</td>
        <td>
          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" attr.data-bs-target="#modal{{ item.id }}Restoration">
            Смотреть
          </button>
          <div class="modal fade" id="modal{{ item.id }}Restoration" aria-hidden="true" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h2>Реставрации</h2>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">

                  <table class="table">
                    <thead class="table-secondary">
                      <tr>
                        <th scope="col">Комментарий</th>
                        <th scope="col">Дата окончания</th>
                        <th scope="col">Экспонат</th>
                        <th scope="col">Дата начала</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let restoration of item.restorations">
                        <td>{{ restoration.comment }}</td>
                        <td>{{ restoration.endDate }}</td>
                        <td>
                          <button type="button" class="btn btn-secondary" data-bs-toggle="modal" attr.data-bs-target="#modal{{ item.id }}Restoration{{ restoration.id }}exhibit">
                            Смотреть
                          </button>
                        </td>
                        <td>{{ restoration.startDate }}</td>
                      </tr>
                    </tbody>
                  </table>

                </div>
              </div>
            </div>
          </div>
        </td>
        <td>
          <div class="d-flex justify-content-end">
            <a class="btn btn-secondary me-2" routerLink="/{{ path }}/{{ item.id }}">Изменить</a>
            <button type="button" class="btn btn-secondary" (click)="delete(item)">&times;</button>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td><input id="employeeNumber" class="form-control" formControlName="employeeNumber" placeholder="Номер" required></td>
        <td><input id="fullName" class="form-control" formControlName="fullName" placeholder="Полное имя" required></td>
        <td><input id="position" class="form-control" formControlName="position" placeholder="Должность" required></td>
        <td></td>
        <td>
          <button type="submit" class="btn btn-secondary w-100" [disabled]="!itemForm.valid">Добавить</button>
        </td>
      </tr>
    </tfoot>
  </table>
</form>

<div *ngIf="showAdmin">
  <div *ngFor="let item of itemList">
    <div *ngFor="let restoration of item.restorations">

      <div class="modal fade" id="modal{{ item.id }}Restoration{{ restoration.id }}exhibit" aria-hidden="true" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered modal-lg">
          <div class="modal-content">
            <div class="modal-header">
              <h2>Экспонат</h2>
              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">

              <table class="table">
                <thead class="table-secondary">
                    <tr>
                      <th scope="col">Дата создания</th>
                      <th scope="col">Информация</th>
                      <th scope="col">Название</th>
                      <th scope="col">Тип</th>
                    </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ restoration.exhibit.creationDate }}</td>
                    <td>
                      <div><em>Доп. информация:</em> {{ restoration.exhibit.info.additionalInformation }}</div>
                      <div><em>Высота:</em> {{ restoration.exhibit.info.height }}</div>
                      <div><em>Длина:</em> {{ restoration.exhibit.info.length }}</div>
                      <div><em>Ширина:</em> {{ restoration.exhibit.info.width }}</div>
                    </td>
                    <td>{{ restoration.exhibit.name }}</td>
                    <td>{{ restoration.exhibit.type }}</td>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="modal-footer border-0">
              <button class="btn btn-secondary" data-bs-toggle="modal" attr.data-bs-target="#modal{{ item.id }}Restoration">Назад</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
