<h1 class="mb-4">Изменить данные {{ title }}</h1>
<form class="table-responsive" *ngIf="showAdmin" [formGroup]="itemForm" (ngSubmit)="save()">
  <table class="table table-hover">
    <thead class="table-secondary">
      <tr>
        <th scope="col"><label for="employeeNumber">Номер</label></th>
        <th scope="col"><label for="fullName">Полное имя</label></th>
        <th scope="col"><label for="position">Должность</label></th>
        <th scope="col" class="text-end">Действия</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="item">
        <td><input id="employeeNumber" class="form-control" formControlName="employeeNumber" required></td>
        <td><input id="fullName" class="form-control" formControlName="fullName" required></td>
        <td><input id="position" class="form-control" formControlName="position" required></td>
        <td class="text-end">
          <button type="submit" class="btn btn-secondary" [disabled]="!itemForm.valid">Сохранить</button>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="8" class="text-end">
          <button type="button" class="btn btn-secondary w-100" (click)="goBack()">Назад</button>
        </td>
      </tr>
    </tfoot>
  </table>
</form>
