<h1 class="mb-4">{{ pagetitle }}</h1>

<div class="row">
  <div class="col-xl-6">
    <p>Музе́й (от др.-греч. μουσεῖον&nbsp;&mdash; Дом Муз)&nbsp;&mdash; учреждение, занимающееся сбором, изучением, хранением и&nbsp;экспонированием предметов&nbsp;&mdash; памятников естественной истории, материальной и&nbsp;духовной культуры, а&nbsp;также просветительской и&nbsp;популяризаторской деятельностью.</p>
    <p>Сначала это понятие обозначало коллекцию предметов (экспонатов) по&nbsp;искусству и&nbsp;науке, затем, с&nbsp;XVIII века, оно включает в&nbsp;себя также здание, где располагаются экспонаты. С XIX века присоединилась научно-исследовательская работа, проводимая в&nbsp;музеях. А с&nbsp;шестидесятых годов XX века началась педагогическая деятельность музеев (специальные проекты для&nbsp;детей, подростков и&nbsp;взрослых).</p>
    <p>С развитием компьютерной техники и&nbsp;Интернета появились также виртуальные музеи.</p>
    <p>В 1946 году создана международная организация ICOM (англ. International Council of&nbsp;Museums) для&nbsp;поддержки и&nbsp;развития деятельности музеев. Эта организация включает в&nbsp;себя более 27&nbsp;500 участников из&nbsp;115 стран мира и&nbsp;тесно работает с&nbsp;ЮНЕСКО и&nbsp;другими международными организациями.</p>
    <p>ICOM собирается каждые три года в&nbsp;одной из&nbsp;стран-участниц.</p>
  </div>
  <div class="col-xl-6">
    <img src="/assets/museum.jpg" class="img-fluid" alt="Музей">
  </div>
</div>
